

// 
.animationcard{
  background-color:#FFFFFF ;
  opacity: 0.8;
  padding-top: 50px;
}
.info{
  font-size:40px;
 padding-bottom:30px;
  text-align: center;
  color:rgb(9, 9, 9);
  font-family: Roboto;
}

.notify1{
  font-size:25px;
  text-align: center;
  color:rgb(9, 9, 9);
  padding-top: 50px;
  font-family: Roboto;
   margin:0;
 }
  
.notify2{
  font-size:25px;
  text-align: center;
  color:rgb(9, 9, 9);
  padding-bottom: 40px;
  padding-top: 10px;
  font-family: Roboto;
  margin:0;
  }
  
  @media screen and (max-width: 771px) {
 
    .info {
      font-size: 20px; 
      padding-bottom:15px;
    }
    .notify1{
      font-size:12px;
      padding-top: 20px;
    }
    .notify2{
      font-size:12px;
    }
  }