<div class="container  p-4">
    <div class="row">
     <div class="col-12">
       <div class="animationcard">
         <p class="info fw-medium">Page Under Construction</p>
         <lottie-player slot="end" autoplay loop src="assets/img/animations/ComingSoon.json"
           style="height: 400px; padding-left:50px; padding-right:50px; " >
         </lottie-player>
           <p class="notify1 fw-medium m-0">The wait won't be long.</p>
           <p class="notify2 fw-medium m-0">Once we launch you will be notified via Lotus Email.</p>
         
       </div>
     </div>
   </div>
  </div>
